{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
<article class="bb b--black-10">
  <div class="db pv4 ph3 ph0-l no-underline dark-gray">
    <div class="flex flex-column flex-row-ns">
      <div class="center w-auto-ns pl3-ns pr3-ns">
        <div align="right">{{- .Date.Format "January 2, 2006" -}}</div>
        <h1 class="f3 fw1 athelas mt0 lh-title">
          <a href="{{.Permalink}}" class="color-inherit dim link">
            {{ .Title }}
            </a>
        </h1>
        <div class="f6 f5-l lh-copy nested-copy-line-height nested-links">
          {{ if $featured_image }}
          {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
          {{ $featured_image := (trim $featured_image "/") | absURL }}
          <div style="float:right">
            <a href="{{.Permalink}}" class="db grow">
              <img  src="{{ $featured_image }}" class="img">
            </a>
          </div>
          {{ end }}

          {{ .Summary }}

  </div>
  {{ if .Truncated }}
          <a href="{{.Permalink}}" class="ba b--moon-gray bg-light-gray br2 color-inherit dib f7 hover-bg-moon-gray link mt2 ph2 pv1">{{ $.Param "read_more_copy" | default (i18n "readMore") }}</a>
      {{ end }}
      </div>
    </div>
  </div>
</article>
