<!-- use default fontawesome class 'fas' or use a specified one like 'fab' for brands -->
{{ $faStylePrefix := "fa" }}
{{ if in (slice "fas" "far" "fal" "fad" "fab") (.Get 0) }}
  {{ $faStylePrefix = (.Get 0) }}
{{ end }}

{{ $size := "2" }}
<!-- Wenn Size vorhanden ist -->
{{ if .Get "size" }}{{ $size = (.Get "size") }}{{ end }}

{{ $color := "black" }}
<!-- Wenn Color vorhanden ist -->
{{ if .Get "color" }}{{ $color = (.Get "color") }}{{ end }}

<span class="fa-stack fa-{{ $size }}x">
  <i class="{{ $color }} {{ $faStylePrefix }} fa-{{ .Get "firsticon" }} fa-stack-2x"></i>
  <i class="{{ $faStylePrefix }} fa-{{ .Get "secondicon" }} fa-stack-1x fa-inverse"></i>
</span>





<!--  color="freifunk" size="5" firsticon="circle" secondicon="question" >}}Fre -->
